@charset "utf-8";

.bbs_sbox {
  margin: 20px 0;
}
.bbs_total {
  margin: 0 0 10px 0;
}
.bbs_total span {
  color: #582884;
  font-weight: bold;
  vertical-align: baseline;
}
.bbs_search select {
  border: 1px solid #ddd;
  width: 100%;
  height: 40px;
  color: #777;
}
.bbs_search .sch_area {
  display: inline-block;
  position: relative;
  width: 100%;
}
.bbs_search .form_txt {
  border: 1px solid #ddd;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 50px 10px 10px;
}
.bbs_search .form_sm {
  cursor: pointer;
  width: 40px;
  height: 0;
  padding: 40px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat;
  position: absolute;
  top: 1px;
  right: 1px;
}

.bbs_table {
  border-top: 1px solid #999;
  width: 100%;
  margin-bottom: 60px;
}
.bbs_table colgroup {
  display: none;
}
.bbs_table tr {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #ededed;
}
.bbs_table .notice {
  background: #f5f6f7;
  color: #0f2868;
  font-weight: bold;
}
.bbs_table th,
.bbs_table td {
  line-height: 1.5em;
}
.bbs_table thead {
  position: absolute;
  top: -5000px;
  left: -5000px;
}
.bbs_table thead th {
  background: #f5f6f7;
  font-weight: 300;
}
.bbs_table td {
  display: inline-block;
}
.bbs_table td:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #ededed;
  margin: 0 5px;
  vertical-align: middle;
}
.bbs_table .nodata:after,
.bbs_table .adm:after,
.bbs_table .tit:after,
.bbs_table .count:after {
  display: none;
}
.bbs_table .nodata {
  text-align: center;
  width: 100%;
  margin: 0;
}
.bbs_table .adm,
.bbs_table .tit,
.bbs_table .file {
  margin: 0;
}
.bbs_table .adm {
  width: 100%;
}
.bbs_table .adm_check {
  width: 20px;
  height: 20px;
}
.bbs_table .num {
  display: none;
}
.bbs_table .tit {
  text-align: left;
  width: 100%;
  margin: 0 0 10px 0;
}
.bbs_table .tit span {
  color: #6292ec;
  font-size: 14px;
  vertical-align: baseline;
  margin: 0 0 0 5px;
}
.bbs_table .tit a:hover,
.bbs_table .tit a:focus {
  text-decoration: underline;
}
.bbs_table .file:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 21px;
  background: url("/images/common/ico_bbs.png") no-repeat -50px -9px;
  vertical-align: middle;
}
.bbs_table .ico_secret {
  display: inline-block;
  width: 14px;
  height: 0;
  padding: 18px 0 0 0;
  margin: 0 0 0 5px;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat -253px -9px;
  vertical-align: middle;
}
.bbs_table .file,
.bbs_table .date,
.bbs_table .count {
  font-size: 14px;
  vertical-align: middle;
  font-weight: 300;
}
.bbs_table .date:before {
  content: "등록일 ";
}
.bbs_table .count:before {
  content: "조회수 ";
}

.bbs_page {
  text-align: center;
  margin: 25px 0;
}
.bbs_page a {
  display: inline-block;
  padding: 2px 0 0 0;
  margin: 0 1px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  box-sizing: border-box;
}
.bbs_page a.on {
  border: 1px solid #eee;
  background: #582884;
  text-decoration: underline;
  color: #fff;
}
.bbs_page .btnarr {
  width: 28px;
  height: 0;
  padding: 28px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat;
}
.bbs_page .prev2 {
  background-position: -6px -65px;
}
.bbs_page .prev {
  background-position: -46px -65px;
}
.bbs_page .next {
  background-position: -86px -65px;
}
.bbs_page .next2 {
  background-position: -126px -65px;
}

.bbs_btn {
  text-align: right;
  margin: 20px 0;
}
.bbs_btn a {
  display: inline-block;
  padding: 10px;
  margin: 0 3px 7px 3px;
  color: #333;
}
.bbs_btn .bbs_bt1 {
  background: #f9f9f9;
  border: 1px solid #ddd;
}
.bbs_btn .bbs_bt2 {
  background: #582884;
  color: #fff;
  border: 1px solid #582884;
}
.bbs_btn input[type="submit"] {
  margin: 0 3px 7px 3px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px 30px;
  height: 44px;
}

.bbs_vtop h4 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 40px 0;
}
.bbs_vtop h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 15px 0;
  color: #582884;
}
.vtop_list {
  border-top: 1px solid #999;
}
.vtop_list li {
  border-bottom: 1px solid #ededed;
  display: table;
  width: 100%;
}
.vtop_list strong {
  display: table-cell;
  padding: 13px 15px;
  background: #f5f6f7;
  width: 35%;
  font-weight: 300;
  vertical-align: middle;
}
.vtop_list span {
  display: table-cell;
  padding: 13px 15px;
  vertical-align: middle;
}

.bbs_filedown a {
  display: inline-block;
  margin: 5px 0;
}
.bbs_filedown a.ico_viewer {
  background: #582884;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  margin-left: 5px;
  white-space: nowrap;
}
.bbs_filedown a.ico_viewer:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/images/common/ico_bbs.png") no-repeat 0 -40px;
  vertical-align: middle;
  margin-right: 5px;
}

.bbs_vlist {
  border-top: 1px solid #ededed;
}
.bbs_vlist li {
  border-bottom: 1px solid #ededed;
  display: table;
  width: 100%;
}
.bbs_vlist strong {
  display: table-cell;
  padding: 13px 15px;
  background: #f5f6f7;
  width: 30%;
  font-weight: 300;
  vertical-align: middle;
}
.bbs_vlist span {
  display: table-cell;
  padding: 13px 15px;
  vertical-align: middle;
}
.bbs_vlist a {
  display: block;
}
.bbs_vlist em {
  font-style: normal;
}

.vtop_list .qna em {
  font-style: normal;
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  padding: 0 5px;
  font-size: 13px;
  font-weight: bold;
}
.vtop_list .qna .ing {
  border: 1px solid #141a3c;
  background: #fff;
}
.vtop_list .qna .end {
  background: #582884;
  color: #fff;
}
.bbs_answer {
  border: 1px solid #999;
}
.bbs_vcon {
  padding: 35px 0 85px 0;
}
.bbs_vcon2 {
  padding: 20px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.bbs_img {
  margin: 20px 0;
  text-align: center;
}
.bbs_img img {
  max-width: 100%;
}
.bbs_img figcaption {
  font-size: 14px;
  margin: 10px 0;
  color: #141a3c;
}

.bbs_comment {
  margin: 0 0 20px 0;
}
.w_star {
  color: #eb5c01;
  vertical-align: middle;
}
.bbs_write {
  border-top: 2px solid #999;
  width: 100%;
}
.bbs_write th,
.bbs_write td {
  padding: 13px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ededed;
}
.bbs_write th {
  background: #f5f6f7;
  font-weight: 300;
  text-align: left;
}
.bbs_write td * {
  vertical-align: middle;
}
.bbs_write input {
  border: 1px solid #ddd;
  padding: 6px 0;
  margin: 2px 0;
}
.bbs_write input[type="file"] {
  padding: 0;
  height: 34px;
  border: none;
}
.bbs_write textarea {
  border: 1px solid #ddd;
}
.bbs_write select {
  border: 1px solid #ddd;
  padding: 5px 0;
  margin: 2px 0;
}
.bbs_write td label {
  margin: 0 10px 0 0;
}
.bbs_write a span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 3px;
}
.bbs_write .adm_check {
  width: 20px;
  height: 20px;
}
.bbs_write .file {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 0;
  padding: 21px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat -50px -9px;
  vertical-align: middle;
}

.txt_left td {
  text-align: left;
}
.txt_cm strong {
  color: #eb5c01;
  vertical-align: baseline;
}
.input_wss {
  width: 40px;
}
.input_ws {
  width: 100px !important;
}
.input_wm {
  width: 170px;
}
.input_wl {
  width: 85%;
}
.input_wf {
  width: 95%;
}
.input_cal {
  background: url("/images/common/ico_bbs.png") no-repeat -164px -3px;
  padding-left: 32px !important;
}
.bbs_table input[type="submit"],
button {
  cursor: pointer;
}
.btn_bbsw,
.btn_bbsw:visited {
  margin: 2px 0 2px 3px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.25em;
  font-weight: 300;
  white-space: nowrap;
  border-radius: 0;
}
.btn_bbsw:hover,
.btn_bbsw:focus {
  border: 1px solid #ddd;
}
button.btn_bbsw {
  padding: 0 10px;
  height: 35px;
}
a.btn_bbsw {
  display: inline-block;
  padding: 7px 10px 0 10px;
  height: 26px;
}
.btn_plus {
  display: inline-block;
  margin: 2px 0 2px 3px;
  color: #fff;
  width: 33px;
  height: 0;
  padding: 33px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat -60px -80px #141a3c;
}
.btn_plus:focus {
  outline-color: #eb5c01;
}
.btn_del {
  width: 20px;
  height: 0;
  padding: 20px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat -330px -9px;
}

.bbs_faq {
  border-top: 1px solid #999;
  line-height: 1.5em;
  text-align: center;
}
.bbs_faq li > a {
  display: block;
  border-bottom: 1px solid #ededed;
  padding: 25px 20px 25px 20px;
  color: #666;
  font-weight: bold;
  position: relative;
}
.bbs_faq li > div {
  display: none;
  padding: 20px 20px 20px 20px;
  background: #f5f6f7;
  border-bottom: 1px solid #ededed;
  min-height: 25px;
  position: relative;
}
.bbs_faq li > div .bbs_btn {
  margin: 20px 0 0 0;
}
.bbs_faq li.on > div {
  display: block;
}
.bbs_faq em {
  display: block;
  width: 40px;
  height: 0;
  padding: 40px 0 0 0;
  margin: 0 auto 10px auto;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat;
}
.bbs_faq a em {
  background-position: 0 -100px;
}
.bbs_faq a span {
  color: #582884;
  margin: 0 10px 0 0;
}
.bbs_faq div em {
  background-position: -40px -100px;
}
.bbs_faq .list_none {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #ededed;
}

.bbs_photo li {
  border: 1px solid #ededed;
  margin: 0 0 20px 0;
}
.bbs_photo .nodata {
  text-align: center;
  width: 100%;
  margin: 0;
  border-right: none;
  border-left: none;
  padding: 20px 0;
}
.bbs_photo a {
  display: block;
}
.bbs_photo strong {
  display: block;
  font-size: 20px;
  margin: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bbs_photo .txt {
  display: block;
  margin: 10px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bbs_photo .img {
  display: block;
  background-position: center center;
  background-size: cover;
}
.bbs_photo .img img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.bbs_photo .adm_check {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.bbs_programmap {
  display: none;
  margin: 30px 0;
  border: 1px solid #ededed;
}
.bbs_programmap > p {
  color: #eb5c01;
  padding: 15px 20px;
  background: #f5f6f7;
}
.program_tab {
  overflow: hidden;
  border-top: 1px solid #ededed;
  border-left: 1px solid #ededed;
  margin: 0 0 30px 0;
}
.program_tab li {
  float: left;
  width: 50%;
  text-align: center;
}
.program_tab li a {
  display: block;
  padding: 14px 15px 0 15px;
  height: 50px;
  box-sizing: border-box;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.program_tab li a:hover {
  background: #333;
  color: #fff;
}
.program_tab li.on a {
  background: #582884;
  color: #fff;
  font-weight: bold;
}
.mapimg {
  text-align: center;
  padding: 30px 0;
}
.maparea {
  width: 100%;
  height: 400px;
  background: #f4f4f4;
}
.bbs_program li {
  border: 1px solid #ededed;
  margin: 0 0 20px 0;
}
.bbs_program .nodata {
  text-align: center;
  width: 100%;
  margin: 0;
  border-right: none;
  border-left: none;
  padding: 20px 0;
}
.bbs_program a {
  display: block;
  position: relative;
}
.bbs_program strong {
  display: block;
  font-size: 20px;
  margin: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
.bbs_program a > em {
  font-style: normal;
  display: block;
  padding: 10px 20px;
  background: #582884;
  color: #fff;
  position: absolute;
  top: -1px;
  left: -1px;
}
.bbs_program .img {
  display: block;
  background-position: center center;
  background-size: cover;
}
.bbs_program .img img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.bbs_program .time1,
.bbs_program .time2 {
  display: block;
  margin: 5px 20px;
  font-size: 14px;
  color: #666;
}
.bbs_program .time1 em,
.bbs_program .time2 em {
  display: inline-block;
  width: 20px;
  height: 0;
  padding: 20px 0 0 0;
  overflow: hidden;
  background: url("/images/common/ico_bbs.png") no-repeat;
}
.bbs_program .time1 em {
  background-position: 0 -140px;
}
.bbs_program .time2 {
  margin-bottom: 20px;
}
.bbs_program .time2 em {
  background-position: -20px -140px;
}
.bbs_program .adm_check {
  width: 20px;
  height: 20px;
  margin: 20px;
}

@media all and (min-width: 768px) {
  .story_atclist strong {
    display: block;
    margin: 10px 0 0 0;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .bbs_sbox {
    overflow: hidden;
  }
  .bbs_total {
    float: left;
    margin: 10px 0 0 0;
  }
  .bbs_search {
    float: right;
    text-align: right;
  }
  .bbs_search select {
    width: auto;
    min-width: 100px;
  }
  .bbs_search .sch_area {
    width: auto;
    min-width: 200px;
  }
  .bbs_table td:after {
    margin: 0 10px;
  }
  .bbs_page a {
    width: 40px;
    height: 40px;
    padding: 5px 0 0 0;
    margin: 0 5px;
  }
  .bbs_page .btnarr {
    width: 40px;
    padding: 38px 0 0 0;
  }
  .bbs_page .prev2 {
    background-position: 0 -60px;
  }
  .bbs_page .prev {
    background-position: -40px -60px;
  }
  .bbs_page .next {
    background-position: -80px -60px;
  }
  .bbs_page .next2 {
    background-position: -120px -60px;
  }
  .bbs_btn a {
    padding: 10px 30px;
  }

  .vtop_list strong {
    width: 150px;
  }
  .bbs_vlist strong {
    width: 150px;
  }
  .bbs_vlist span {
    overflow: hidden;
  }
  .bbs_vlist a {
    float: left;
    width: calc(100% - 100px);
  }
  .bbs_vlist em {
    float: right;
    width: 100px;
    text-align: right;
  }

  .bbs_faq {
    text-align: left;
  }
  .bbs_faq li > a {
    padding-left: 80px;
  }
  .bbs_faq li > div {
    padding-left: 80px;
  }
  .bbs_faq em {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .bbs_photo {
    overflow: hidden;
  }
  .bbs_photo ul {
    overflow: hidden;
    margin-left: -2%;
  }
  .bbs_photo li {
    float: left;
    width: 48%;
    margin: 0 0 20px 2%;
    box-sizing: border-box;
  }
  .bbs_photo strong {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .bbs_photo span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .bbs_photo .nodata {
    margin: 0;
  }

  .bbs_program {
    overflow: hidden;
  }
  .bbs_program ul {
    overflow: hidden;
    margin-left: -2%;
  }
  .bbs_program li {
    float: left;
    width: 23%;
    margin: 0 0 20px 2%;
    box-sizing: border-box;
  }
  .bbs_program strong {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .bbs_program .nodata {
    margin: 0;
  }
  .program_tab li {
    width: 25%;
  }
}

@media all and (min-width: 1023px) {
  .bbs_table thead {
    position: static;
  }
  .bbs_table colgroup {
    display: block;
  }
  .bbs_table tr {
    display: table-row;
    padding: 0;
    border-bottom: none;
  }
  .bbs_table th,
  .bbs_table td {
    border-bottom: 1px solid #ededed;
    padding: 25px 5px;
    text-align: center;
    vertical-align: middle;
  }
  .bbs_table td {
    display: table-cell;
  }
  .bbs_table td:after {
    display: none;
  }
  .bbs_table .num {
    display: table-cell;
  }
  .bbs_table .adm {
    width: auto;
  }
  .bbs_table .tit {
    width: auto;
  }
  .bbs_table .file,
  .bbs_table .date,
  .bbs_table .count {
    font-size: 1em;
  }
  .bbs_table .date:before,
  .bbs_table .count:before {
    display: none;
  }

  .bbs_photo li {
    width: 23%;
  }

  .vtop_list {
    overflow: hidden;
  }
  .vtop_list li {
    float: left;
    width: 50%;
  }
  .vtop_list li.line1 {
    width: 100%;
  }

  .program_tab {
    display: none;
  }
  .bbs_programmap {
    display: block;
  }
}
